<%- include('../partials/headers/__header-dashboard.ejs', { title: 'Dashboard Manajer' }) %>
<%- include('../partials/navs/__nav-manajer.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Foto Halaman Utama</div>
                                <div class="stat-number" data-count="<%= countPhotoLandingpage %>"><%= countPhotoLandingpage %> / 8</div>
                            </div>
                            <div class="icon-wrapper">
                                <i class="mdi mdi-image-multiple-outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Kunjungan</div>
                                <div class="stat-number" data-count="<%= countKunjungan %>"><%= countKunjungan %></div>
                            </div>
                            <div class="icon-wrapper">
                                <i class="mdi mdi-map-marker-outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 grid-margin stretch-card">
                <div class="stat-card card w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="stat-label">Magang</div>
                                <div class="stat-number" data-count="<%= countMagang %>"><%= countMagang %></div>
                            </div>
                            <div class="icon-wrapper">
                                <i class="mdi mdi-briefcase-outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/scripts/__script-dashboard.ejs') %>